body{
    height: 97vh;
    display: flex;
    flex-direction: column;
}
#main{height: calc(97vh - 70px);}
#header{
    font-size: x-large;
    font-weight: 900;
    color: tomato;
}
#header .dot
{
    color:black;
}
#header .js{
    font-style: italic;
    color: skyblue;
}
#main{
    flex-grow: 1;
    display: flex;
}
#footer{
    text-align: center;
}